body {
    font-family:fantasy;
}

header {
    display: flex;
    padding: 15px;
    justify-content: center;
    border: brown solid 4px;
}

header img {
    width: 300px;
}

header a {
    width: 500px;
    text-decoration: none;
    margin: auto;
    color: black;
    margin-right: 30px;
    align-items: flex-end; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}



header a:hover {
text-decoration-line:underline;
}



main .p {
color: white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 90px;
text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}


article{
    width: 150px;
    text-align: center;
    padding: 70px;
    border: 5px solid black;
    margin: 40px 0px 40px 80px;
    background-color: white;
    position: relative;
}


article p {
    font-size: 20px;
}

section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px; 
    background-color: white;
}

span {
    color: #940002;
    font-size: large;
}



.a {
    width: 100%;
}

div{
    position: relative;
}
div p {
    position: absolute;
    top: 100px;
    left: 100px;
}
/*
 .card {
width: 10px;
height: 10px;
 }*/

.meow {
    position: relative;
}

.history {
    text-align: justify;
    font-size: 20px;
    width: 40%;
}

.g {
    position: absolute;
    left: 600px;
    top: 100px;
}

.img1 {
    position: relative;
    box-shadow: 2px 2px 5px 3px black;
}

.img2 {
    position: relative;
    top: 60px;
    right: 30px;
    box-shadow: 2px 2px 5px 3px black;
}

.img3 {
    position: relative;
    bottom: 30px;
    left: 80px;
    box-shadow: 2px 2px 5px 3px black;
}

.b {
    margin-top: 710px;
    width: 100%
}

.bu {
    margin-top: 670px;
    margin-left: 340px;
    font-size: 100px;
    box-shadow:  2px 2px 5px 0 black;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.catalog a {
text-decoration: none;
color: black;
font-size: 30px;
margin-left: 90px;
}

.product {
    border: none;
}

.product img{
    border-radius: 500px;
    box-shadow: 2px 2px 5px 0 black;
}

.catalog{
    margin-top: 80px;
}

.catalo{
    margin-top: 70px;
    margin-left: 30px;
}

.catalo a {
text-decoration: none;
color: black;
font-size: 30px;
margin-left: 60px;
}

.produc {
    border: none;
}

.produc img{
    border-radius: 550px;
    box-shadow: 2px 2px 5px 0 black;
}

.cook {
    margin-top: 80px;
    margin-left: 400px;
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.produ {
    margin-top: 200px;
    border: none;
}



.cookie {
    margin-left: 410px;
    opacity: 0.7;
}

.catal a{
text-decoration: none;
font-size: 40px;
color: black;
margin-left: 90px;
}

.catal a:hover {
    opacity: 0.5;
    transform: scale(1.5);
    transition: 1s linear;
}

.catal img {
    box-shadow: 2px 2px 5px 0 black;
}


footer {
    margin-top: 190px;
    border: black;
    background-image: url(https://luminofor.ru/images/product_images/popup_images/3678_1.jpg);
}

footer p {
    color: black;
}

footer img {
    margin-left: 35px;
}

footer img:hover {
    box-shadow: 2px 2px 2px 2px black;
    transition: 0.5s ease-out;
}



.das {
    margin-top: 80px;
    margin-left: 50px;
    opacity: 0.2;
    color: red;
    font-family:unset;
}

.das:hover{
opacity: 1;
transition: 0.5s ease-out;
}
